<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Ue1_BookShop</display-name>
	<servlet>
		<description></description>
		<display-name>MyServletTest</display-name>
		<servlet-name>MyTestServlet</servlet-name>
		<servlet-class>wea5.MyTestServlet</servlet-class>
	</servlet>
	<!--  not needed, if we use @WebServlet(urlPatterns={"/BookShop"}) annotations
	<servlet>
		<description></description>
		<display-name>BookShopServlet</display-name>
		<servlet-name>BookShopServlet</servlet-name>
		<servlet-class>wea5.shop.BookShopServlet</servlet-class>
	</servlet>
	-->
	<!--  not needed, if we use @WebServlet(urlPatterns={"/BookShopXMLServlet"}) annotations
	<servlet>
		<description></description>
		<display-name>BookShopXMLServlet</display-name>
		<servlet-name>BookShopXMLServlet</servlet-name>
		<servlet-class>wea5.shop.BookShopXMLServlet</servlet-class>
	</servlet>
	-->
	<servlet-mapping>
		<servlet-name>MyTestServlet</servlet-name>
		<url-pattern>/MyTestServlet</url-pattern>
	</servlet-mapping>
	<!--  not needed, if we use @WebServlet(urlPatterns={"/BookShop"}) annotations
	<servlet-mapping>
		<servlet-name>BookShopServlet</servlet-name>
		<url-pattern>/BookShop</url-pattern>
	</servlet-mapping>
	-->
	<!--  not needed, if we use @WebServlet(urlPatterns={"/BookShopXMLServlet"}) annotations
	<servlet-mapping>
		<servlet-name>BookShopXMLServlet</servlet-name>
		<url-pattern>/BookShopXMLServlet</url-pattern>
	</servlet-mapping>
	-->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<context-param>
		<param-name>DB_DSN</param-name>
		<param-value>jdbc:derby://localhost/BooksDb</param-value>
	</context-param>
	<context-param>
		<param-name>DB_USER</param-name>
		<param-value>user</param-value>
	</context-param>
	<context-param>
		<param-name>DB_PASSWORD</param-name>
		<param-value>123</param-value>
	</context-param>
    <context-param>
        <param-name>SHOP_DELEGATE</param-name>
        <param-value>wea5.shop.warehouse.DummyShopDelegate</param-value>
    </context-param>
    	<listener id="ServiceLocator">
		<display-name>InitializeContextListener</display-name>
		<listener-class>wea5.shop.InitializeContextListener</listener-class>
	</listener>
</web-app>
